<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    backupGlobals="false"
    colors="true"
    processIsolation="false"
    stopOnFailure="false"
>
    <testsuites>
        <testsuite name="Shimomo">
            <directory suffix="Test.php">tests/</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory>src/</directory>
        </include>
    </source>
</phpunit>
